@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* to create variable */
:root {
  --bg-color: #1e1e20;
  --bg-light-color: #303036;
  --text-color: #f9f9f9;
  --para-color: #9c9c9c;
  --main-color: #8f43ee;
  --light-color: #b37df5;
  --extra-light: #cea5ff;
}

body {
  background-size: cover;
  background-color: var(--bg-color);
  /* overflow: hidden; */
}

/* header */
.container {
  max-width: 1350px;
  margin: auto;
  padding: 0px 75px;
}

/* information */
.information span {
  color: var(--light-color);
}

.information a {
  text-decoration: none;
  margin-left: 50px;
  color: var(--extra-light);
  align-items: center;
}

.information a:hover {
  text-decoration: none;
  color: white;
}

.information a::after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--light-color);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: width, left;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.navbar .logo {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  font-weight: 750;
  margin-left: 45px;
  padding: 5px;
  letter-spacing: 2px;
  color: var(--light-color);
}

.navbar.rightnav {
  flex: 1;
  text-align: right;
}

nav ul {
  display: inline-block;
  list-style: none;
  transition: 0.5s;
}

nav ul li {
  display: inline-block;
  margin-right: 50px;
  position: relative;
}


nav ul li a {
  font-weight: 600;
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  text-decoration: none;
  background-image: linear-gradient(rgb(66, 66, 218), rgb(226, 70, 96));
}

nav ul li:hover:after {
  width: 100%;
  left: 0;
}

nav ul li:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--light-color);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: width, left;
}


/* .into {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 2.5rem;
} */

.content {
  display: flex;
  align-items: center;
  height: 90vh;
  justify-content: center;
  position: relative;
}

.intro-main {
  display: flex;
  align-items: center;
  gap: 5rem;
  justify-content: center;
  position: relative;
}

.intro-text {
  display: flex;
  flex-direction: column;
  max-width: 35rem;
  position: relative;
}

.intro-text h2 {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--main-color);
}

.intro-text h1 {
  position: relative;
  font-size: 2.8rem;
  font-weight: 700;
  color: var(--text-color);
  line-height: 1.3;
  margin: 15px 0;
}

.intro-text p {
  text-align: justify !important;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--para-color);
  line-height: 1.3;
  font-family: "Mulish", sans-serif;
}

.intro .intro-image img {
  margin-top: 20px;
  width: 350px;
  height: 350px;
  background-position: 50%;
  border: 3px solid white;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  position: relative;
  box-shadow: 0 0 35px rgba(213, 121, 255, 0.67);
  animation: ani123 8s ease-in-out infinite;
}

@keyframes ani123 {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

/* buttons */
.buttons {
  margin: 30px 0;
}

.buttons button {
  padding: 10px 15px;
  font-weight: 700;
  background: var(--main-color);
  box-shadow: 0px 0px 12px var(--main-color);
  color: var(--text-color);
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.buttons button:hover {
  background: transparent;
  border: 2px solid var(--main-color);
}

.btn1 {
  letter-spacing: 0.1rem;
}

.buttons .btn2 {
  margin: 0 20px;
  background: transparent;
  border: 2px solid var(--main-color);
}

.buttons .btn2:hover {
  background: var(--main-color);
  border: 2px solid transparent;
}

.tech {
  display: flex;
  align-items: center;
  position: absolute;
  margin-top: 320px;
  color: var(--para-color);
}

.tech p {
  position: relative;
  border-right: 2px solid var(--text-color);
  color: var(--para-color);
  font-family: "Mulish", sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-left: 0.2rem;
  padding-right: 1rem;
}

.box {
  margin: 0.7rem;
}


/* bg animation */

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  /* Adjust height as needed */
  overflow: hidden;
}

.background-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* Ensure the animation is behind the content */
}

.butterfly {
  position: absolute;
  top: 45%;
  left: 75%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.logoo {
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
}

.html {
  background-image: url('html.png');
  animation: htmlAnimation 10s infinite linear;
}

.css {
  background-image: url('css.png');
  animation: cssAnimation 8s infinite linear;
}

.js {
  background-image: url('js.png');
  animation: jsAnimation 12s infinite linear;
}

.react {
  background-image: url('react.png');
  animation: reactAnimation 15s infinite linear;
}

@keyframes htmlAnimation {
  0% {
    transform: rotate(0deg) translateX(0px) translateY(0px);
  }

  50% {
    transform: rotate(360deg) translateX(200px) translateY(200px);
  }

  100% {
    transform: rotate(720deg) translateX(0px) translateY(0px);
  }
}

@keyframes cssAnimation {
  0% {
    transform: rotate(0deg) translateX(0px) translateY(0px);
  }

  50% {
    transform: rotate(-360deg) translateX(-200px) translateY(200px);
  }

  100% {
    transform: rotate(-720deg) translateX(0px) translateY(0px);
  }
}

@keyframes jsAnimation {
  0% {
    transform: rotate(0deg) translateX(0px) translateY(0px);
  }

  50% {
    transform: rotate(360deg) translateX(-200px) translateY(-200px);
  }

  100% {
    transform: rotate(720deg) translateX(0px) translateY(0px);
  }
}

@keyframes reactAnimation {
  0% {
    transform: rotate(0deg) translateX(0px) translateY(0px);
  }

  50% {
    transform: rotate(-360deg) translateX(200px) translateY(-200px);
  }

  100% {
    transform: rotate(-720deg) translateX(0px) translateY(0px);
  }
}


.bg {
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
}

.intro-text h2 {
  position: relative;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  font-weight: 750;
}

.intro h3 {
  position: relative;
  color: var(--para-color);
}

ul {
  list-style: none;
  margin-left: 20px;
  
}

.list li::before {
  content: "❄️";
  margin-right: 10px;
}

.list ul {
  color: var(--text-color);
}



/* bg animation */
.boxx div {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: 6px solid rgba(255, 255, 255, 0.8);
}

.boxx div:nth-child(1) {
  top: 12%;
  left: 42%;
  animation: animate 10s linear infinite;
  border: 6px solid rgba(240, 69, 69, 0.8);
}

.boxx div:nth-child(2) {
  top: 70%;
  left: 50%;
  animation: animate 7s linear infinite;
  border: 6px solid rgba(79, 182, 250, 0.8);
}

.boxx div:nth-child(3) {
  top: 17%;
  left: 6%;
  animation: animate 9s linear infinite;
  border: 6px solid rgba(172, 245, 88, 0.8);
}

.boxx div:nth-child(4) {
  top: 20%;
  left: 60%;
  animation: animate 10s linear infinite;
  border: 6px solid rgba(242, 255, 61, 0.8);
}

.boxx div:nth-child(5) {
  top: 50%;
  left: 6%;
  animation: animate 6s linear infinite;
  border: 6px solid rgba(255, 7, 7, 0.8);
}

.boxx div:nth-child(6) {
  top: 80%;
  left: 70%;
  animation: animate 12s linear infinite;
  border: 6px solid rgba(255, 0, 255, 0.8);
}

.boxx div:nth-child(7) {
  top: 60%;
  left: 80%;
  animation: animate 15s linear infinite;
  border: 6px solid rgba(4, 0, 255, 0.8);
}

.boxx div:nth-child(8) {
  top: 32%;
  left: 25%;
  animation: animate 16s linear infinite;
  border: 6px solid rgba(5, 197, 255, 0.8);
}

.boxx div:nth-child(9) {
  top: 92%;
  left: 8%;
  animation: animate 9s linear infinite;
  border: 6px solid rgba(151, 8, 127, 0.8);
}

.boxx div:nth-child(10) {
  top: 20%;
  left: 80%;
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    transform: scale(0) translateY(0) rotate(0);
    opacity: 1;
  }

  100% {
    transform: scale(1.3) translateY(-90px) rotate(360deg);
    opacity: 0;
  }
}

.h h2{
  text-align: center;
  color: var(--extra-light);
  font-size: 2rem;
}
.skills {
  height: 85vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  column-gap: 20px;
  border:transparent;
}
.skills2 {
  height: 70vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  column-gap: 20px;
  border: transparent;
}
.skills h2{
  color: var(--extra-light);
}
.skill {
  height: 350px;
  width: 350px;
  border: 2px solid var(--main-color);
  padding: 30px 50px;
}

.skills  li{
  color: var(--text-color);
}
.skills h1{
color: var(--extra-light);
}

.skills2  li{
  color: var(--text-color);
}
.skills2 h1{
color: var(--extra-light);
}
/* .skill:hover {
  box-shadow: 0 0 50px 15px #f30b9a;
} */

.projects {
  height: 95vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  column-gap: 20px;
  border:2px solid pink;
}
/* contact */
.form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.wrapper{
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 1rem;
  /* background:transparent; */
 width: 100%;
 height: 100%;
 border: 2px solid white;
 box-shadow: 4px 3px 4px #fff;
}
.wrapperr h2{
  font-size: 3rem;
  color: #fff;
  padding: 2rem 1rem;
  position: relative;
  border-radius: 5px;
}
.wrapperr h2::after{
  content: "";
  position: absolute;
  top: 80%;
  left: 20px;
  height: 5px;
  width: 18%;
  background: #ee6dbc;
}
.form-section{
display: grid;
grid-template-columns: repeat(2,1fr);
padding: 1rem;
}
.form-section ul{
  list-style: none;
  display: flex;
  flex-direction: column;
}
.form-details .ico{
  background:#ee6dbc;
  width: 50px;
  height: 50px;
  margin-right: 1rem;
  border-radius: 50%;
  
}
.form-details li {
  display: flex;
  align-items: center;
  padding: 1rem;
  color: black;
  margin: 0.8rem 0;
}
.form-details li i{
  font-size: 1.6rem;
  display: flex;
  align-items:center ;
  justify-content: center; 
   height: inherit;
}

.form-details strong{
  color: #8f43ee;
}
.conten p{
  color:white ;
}
.form-group{
  position: relative;
}
.form-group .form-control{
  width: 100%;
  outline: none;
  border: 1px solid var(--para-color);
  padding: 0.8rem;
  margin: 1rem 0;
  resize: none;
  border-radius: 5px;
  font-size: 1rem;
}
.form-group span{
  position: absolute;
  top: 0.8rem;
  left: 0;
  padding: 1rem;
  pointer-events: none;
  font-size: 1rem;
  color:rgb(0, 0, 0);
  text-transform: uppercase;
  transition: 0.5s;
  font-weight: 600;
}
.form-group .form-control:valid ~ span,
.form-group .form-control:focus ~ span{
  background:#ee6dbc ;
  color: black;
  transform: translateX(10px) translateY(-10px);
  font-size: 0.8rem;
  padding: 0 10px;
}
.input-field button{
    outline: none;
    border: none;
    background:#ee6dbc ;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
    margin: 1rem 0;
    cursor: pointer;
    transition: 0.4s;  
}
.input-field button:active{
  transform: scale(1.1);
}

@media(max-width:760px){
  .form-section{
    grid-template-columns: repeat(1fr);
    }
    .wrapperr h2{
      font-size: 2rem;
    }
    .wrapperr h2::after{
      content: "";
      position: absolute;
      top: 90%;
    }
    .form-details li {
      margin: 0.5rem 0;
      padding: 0.5rem;
    }
}

/* projects */
.p-container {
  text-align: center;
}

#h1{
  margin-top: 50px;
  color: var(--extra-light);
  padding: 1rem;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.project {
  width: calc(33.33% - 20px);
  position: relative;
  overflow: hidden;
}

.project img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}
.project .video {
  width:auto;
  height: auto;
  transition: transform 0.3s ease;
}
.project:hover img {
  transform: scale(1.1);
}

.project-info {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.884);
  width: 100%;
  height: 100%;
  padding: 20px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.project:hover .project-info {
  opacity: 1;
}

.project-info h3 {
  font-size: 30px;
  margin-top: 5px;
  color: #fff;
}

.project-info p {
  color: #fff;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 0;
}

/* Styles for Scroll to Top Button */
#scrollTopBtn {
  display: none; /* Hidden by default */
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #007bff; /* Blue */
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

#scrollTopBtn:hover {
  background-color: #555; /* Dark grey */
}













